
.chart {
    margin-bottom: 20px;
}

.single-line-field {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
}

.link-value {
    color: black;
}

.placeholder {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        //background-color: rgba(100,100,100,0.5);
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60px;
    }

    &.chart-placeholder,
    &.graph-placeholder {
        background-color: #fafafa;
        height: 230px;
        width: 100%;
        margin-bottom: 20px;
    }

    &.table-placeholder {
        border: 1px solid #eee;

        tbody {
            tr {
                border: 1px solid #eee;

                &:nth-of-type(odd) {
                    background-color: #fcfcfc;
                }

                &:last-child {
                    background-color: #f0ffea;
                }

                td {
                    border: 1px solid #eee;
                    height: 27px;
                }
            }
        }
    }
}


tr.subtotal-row {
    font-weight: bold;
}

.variance-positive {
    background-color: #c2e2b6 !important;

    &.total {
        background-color: #9ed189 !important;
    }
}

.variance-negative {
    background-color: #ffeac2 !important;

    &.total {
        background-color: #ffcd70 !important;
    }
}
